<template name="messageInput">

    {{#if currentUser}}
        <form id="message-input" action="">
            <div class="ui fluid icon action input">
                <input name="message" type="text" placeholder="Type your message!"/>
                <i id="take-picture" class="ui link circular photo icon"></i>
                <button class="ui button" type="submit">Send</button>
            </div>
        </form>
    {{else}}
        <div id="login-welcome" class="ui center aligned blue inverted segment">
            Please sign in to join the fun!
        </div>
    {{/if}}

    <canvas id="camera"></canvas>
    
</template>